:root{
/* Main Primary color */
--color-primary-0:#CC8C68;	
--color-primary-1:#FFEEE5;
--color-primary-2:#F8CBB2;
--color-primary-3:#9F562D;
--color-primary-4:#722B04;
/* Main Secondary color (1) */
--color-secondary-1-0:#CCB068;	
--color-secondary-1-1:#FFF8E5;
--color-secondary-1-2:#F8E4B2;
--color-secondary-1-3:#9F7F2D;
--color-secondary-1-4:#725304;
/* Main Secondary color (2) */
--color-secondary-2-0:#50598C;	
--color-secondary-2-1:#BEC0D0;
--color-secondary-2-2:#8086AA;
--color-secondary-2-3:#29336D;
--color-secondary-2-4:#0C154E;
/* Main Complement color */
--color-complement-0:#448674;	
--color-complement-1:#B7CCC6;
--color-complement-2:#74A296;
--color-complement-3:#1E6854;
--color-complement-4:#024A37;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

div.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
