:root {
  /* Main Primary color */
  --color-primary-0: #cc8c68;
  --color-primary-1: #ffeee5;
  --color-primary-2: #f8cbb2;
  --color-primary-3: #9f562d;
  --color-primary-4: #722b04;
  /* Main Secondary color (1) */
  --color-secondary-1-0: #ccb068;
  --color-secondary-1-1: #fff8e5;
  --color-secondary-1-2: #f8e4b2;
  --color-secondary-1-3: #9f7f2d;
  --color-secondary-1-4: #725304;
  /* Main Secondary color (2) */
  --color-secondary-2-0: #50598c;
  --color-secondary-2-1: #bec0d0;
  --color-secondary-2-2: #8086aa;
  --color-secondary-2-3: #29336d;
  --color-secondary-2-4: #0c154e;
  /* Main Complement color */
  --color-complement-0: #448674;
  --color-complement-1: #b7ccc6;
  --color-complement-2: #74a296;
  --color-complement-3: #1e6854;
  --color-complement-4: #024a37;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

body,
html {
  background-color: #1e2738;
  max-width: 100vw;
  margin: 0;
}

div.App {
  text-align: center;
  background-color: #1e2738;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-family: Arial;
  color: red;
  text-align: center;
}
